<?xml version="1.0" encoding="UTF-8"?>  
<plugin id="com.example.chtbill" version="0.0.1">
    <name>HelloWorld</name>
    <category>龍雲數位</category>
    <description>a sample IVM Plugin.</description>
    <author email="xxkuo@transtep.com" href="http://www.transtep.com">Transtep RD Team</author>
    <serviceurl href="assets://id.html"/>
    <preference name="position" value="560,150,800,600"/>
    <preference name="bgcolor" value="#ffffff"/>
    <preference name="fullscreen" value="false"/>
    <preference name="opacity" value="0.9"/>
    <preference name="display" value="false"/>
    <preference name="z-index" value="1000"/>
    <feature name="data" value="feature.transtep.data"/>
</plugin>
